*.lo
*.o
*.la
*.pox
*.old.po
tags

.deps/
.libs/

#autotools
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/intltool.m4

po/pidgin-otrng.pot
pidgin-otr4.pot
po/Makefile.in.in
po/*.gmo
po/Makefile
po/POTFILES
po/stamp-it
stamp-h1

test/Makefile
test/Makefile.in
test/test
test/test-test.o

.dir-locals.el
