*.lo
*.la
*.pox
*.old.po

.deps/
.libs/

Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
pidgin-otr.pot
po/Makefile.in.in
po/*.gmo
po/Makefile
po/POTFILES
po/stamp-it
stamp-h1
